@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(92% 0.004 286.32);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(92% 0.004 286.32);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-display: "BBH Sans Bartle", sans-serif;
  --font-display-alternative: "Bebas Neue", sans-serif;
  --font-text: "Inter", sans-serif;
}

@layer base {
  h1 {
    @apply text-5xl;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  h2 {
    @apply text-3xl;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  h3 {
    @apply text-xl;
    @apply font-bold;

    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    @apply text-lg;
    @apply font-text;
    margin-bottom: 0.5rem;
  }

  li {
    @apply text-lg;
    margin-left: 2rem;
  }

  ul {
    margin-bottom: 1rem;
  }

  table {
    @apply table;
    margin-bottom: 1rem;
  }

  .mockup-code {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .font-display {
    @apply font-display;
    @apply font-normal;
  }

  .font-display-alternative {
    @apply font-display-alternative;
    @apply font-normal;
  }

  .font-text-[weight] {
    @apply font-text;
    @apply font-normal;

    font-weight: weight;
  }

  .fill-base-content {
    fill: var(--color-base-content);
  }
}
